body {
  margin: 60px auto;
  font-family: Times, 'Times New Roman', serif;
  background-color: #000;
  color: #fff;
  width: 800px;
  text-align: center;
}

h1 {
  font-size: 54pt;
  margin-bottom: 25px;
}

a { 
  font-size: 28pt;
  color: #fff;
}

.icon {
  padding-right: 10px;
  padding-left: 10px;
}

.icon-group { margin-top: 30px; }

.btn {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  outline-width: 0;
}